* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*navbar*/

.navbar-top a {
    text-decoration: none;
    color: #707070;
    font-size: 11px;
    padding-left: 35px;    
}

.navbar-top a:hover {
    color: #3f3f3f;
}

.logo {
    width: 70%;
}

.navbar-container {
    font-size: 25px;
    padding: 5px;
    color: #707070;
}

.search {
    width: 100%;          
}

.form-control {
    background-color: #e4e4e4;
    color: #707070;  
         
}

.form-control:focus{
    border-color: rgb(241, 117, 0);
}

.bi-search {    
    display: inline-block;
    position: relative;
    right: 30px;
    margin-top: 5px;        
    color: rgb(241, 117, 0);
}

a {
    text-decoration: none;
    color: #111111;
    font-size: 18px;
}

a:hover {
    color: rgb(241, 117, 0);
}

/*menu*/

ul li {
    list-style: none;
    text-transform: uppercase;  
    font-weight: bold;
    display: inline;    
}

.menu {
    width: 100%;             
}

.menu a:hover {
    border-bottom: 2px solid rgb(241, 117, 0);       
}

.menu ul li a {
    font-size: 15px;    
    padding: 1px;
    
}

/*story*/

.story {    
    width: 100%;
}

.story a:hover {
    border-color: rgb(241, 117, 0);
}

.story img {
    border-radius: 50%;   
}

/*banner*/

.banner {
    width: 100%;
}

.banner img {
    width: 500px;
}

.card {
    border: none;
}

.card img {
    width: 700px;
    
}


/*footer*/

.popular a:hover {
    color: #111111;
    text-decoration: underline;
}


.footer  {
    background-color: black;
    padding: 4rem;
    
}

.footer-title a {
    color: white;
    
}

.footer-text a {
    color: white;    
    font-size: 15px;
}

.footer-text {
    padding-top: 2rem;
    
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}



.up {
    backface-visibility: hidden;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-bottom-width: 2px;
    bottom: 20px;
    cursor: pointer;
    height: 40px;
    line-height: 42px;
    margin: 5px;
    position: fixed;
    right: 20px;
    width: 110px;
    will-change: scroll-position;
    z-index: 1000;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.up:hover {
    border-color: #f27a1a;
  }

.up:hover span {
    color: #f27a1a;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
  }

.up:hover i {
    color: #f27a1a;
    background-position: 0 -18px;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
  }

.up .bi {
    display: block;
    float: left;
    width: 15px;    
    opacity: 0.8;
    overflow: hidden;
    
  }

.up span {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-left: 7px;
    text-align: center;
  }  

.up .bi2 {
    display: none;
}

